# NANDy specific
*.nb
*.logi
parse-test
nandy-emu
nandy-asm
nandy-asm-racket
binconvert
shuntingyard_test

# Racket
*.bak
*.rkt~

# User settings
.vscode

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# NANDy binaries
*.nb
